<div class="body-entrada">
    <div class="entrada-container">
        
        <div class="logo-container">
            <img src="/css/sio2.png" alt="Logo SIO" class="logo-img">
        </div>

        <p class="entrada-texto">
            Escolha abaixo o módulo que deseja acessar.
        </p>

        <a href="/dashboard" class="btn-perfil">Professor</a>
        <a href="/dashboard" class="btn-perfil">Pais de Aluno</a>
        <a href="/dashboard" class="btn-perfil">Administração</a>

    </div>
</div>